.programming_badge_tray_icon_blackshadow {
  filter: drop-shadow(0px 0 3px #DDDDDD);
  -webkit-filter: drop-shadow(0px 0 3px rgba(0,0,0,0.5));
}

/*temporary disable due to ugly in img tag of the timeline details page*/
 .modal-body img1 {
  filter: drop-shadow(0px 0 5px #DDDDDD);
  -webkit-filter: drop-shadow(0px 0 5px rgba(0,0,0,0.5));
}

.add_shadow_3px {
  filter: drop-shadow(0px 0 3px #888888);
  -webkit-filter: drop-shadow(0px 0 3px rgba(0,0,0,0.5));
}

/* NOTE: parking css  */
.parking_shadowed {
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,Color='#444')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

.outside {
  position: absolute;
  display: table;
}

.inside {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.div_debug{border: 1px dotted #ccc;}

/*for typekit chinese fonts*/
p, h1, h2, h3, h4, h5, h6 {
    font-family: source-han-sans-traditional;
    font-weight: 700;
    /*text-transform: uppercase;*/
}


.navbar-default.navbar-shrink {
  background-color: #222;
  padding: 10px 0;
}
